{% extends 'HospitalBundle:Default:frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('code/highcharts.js')) }}"></script>
    <script src="{{ absolute_url(asset('code/modules/series-label.js')) }}"></script>
    <script src="{{ absolute_url(asset('code/modules/exporting.js')) }}"></script>
    <script type="text/javascript" src ="{{ absolute_url(asset('js/curvaTalla.js')) }}" ></script>
    
{% endblock %}

{% block cuerpo %}
        <div id="paciente" hidden >{{paciente.id}}</div>
        <dir id= "dataCurva" hidden>{{ dataCurva | json_encode }}</dir>
        <div id="curvaTalla"></div>
{% endblock %}