{% extends 'HospitalBundle:Default:frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script type="text/javascript" src ="{{ absolute_url(asset('js/confirmarBorrarH.js')) }}" ></script>
{% endblock %}
{% block cuerpo %}
    <div class = "row" >
        {% if (is_granted('ROLE_PED') %}
            <div class = "col-md-1 col-md-offset-1" >
                <button class="btn btn-success" onclick="location.href= '{{ path('historia_new') }}' ">
                    NUEVO
                </button>
            </div>
        {% endif %}      
        {% if  not pagination is empty %}
                <div class = "col-md-2 col-md-offset-2" >
                    <button class="btn btn-warning" onclick = "location.href= 'index.php?seccion=historiaController&amp;action=grafico&amp;pacienteid={{paciente.Id}}&amp;tipo=ppc ' ">
                        Curva de PPC
                    </button>
                </div>
                <div class = "col-md-2 " >
                    <a class="btn btn-warning" href="{{ path('paciente_curva_peso', { 'id': paciente.id }) }}">Curva Peso</a>
                </div>
                <div class = "col-md-2 " >
                    <button class="btn btn-warning" onclick = "location.href= 'index.php?seccion=historiaController&amp;action=grafico&amp;pacienteid={{paciente.Id}}&amp;tipo=talla' ">
                        Curva de talla
                    </button>
                </div>
        {% endif %} 
    </div>
    <h1>Historia Medica</h1>

    <div class = "table-responsive" >
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Pediatra a cargo</th>
                </tr>
            </thead>
            <tbody>
            {% for historia in pagination %}
                <tr>
                    <td>{% if historia.fecha %}{{ historia.fecha|date('d-m-Y')  }}{% endif %}</td>
                    <td>{{ historia.usuario.username }}</td>
                    {% if (is_granted('ROLE_PED')) %}
                        <td>   
                            <a href="{{ path('historia_show', { 'id': historia.id }) }}"> 
                                <img class = "icono" src='{{ absolute_url(asset('images/ver.jpeg')) }}' alt="Ver control">
                            </a>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>    
                            <form action="{{ path('historia_delete', { 'id': historia.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                {{ form_widget(deleteForms[historia.id]) }}
                                <input type="image" src="{{ absolute_url(asset('images/borrar.jpeg')) }}" class="icono borrar"/>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
    </div>    
{% endblock %}
